<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue1.x</title>
</head>
<body>
    <div id="app">
        <span>{{ t }}</span>
        <span>{{ t1 }}</span>
        <span>{{ arr }}</span>
        <h3>methods 事件 数据响应式更新</h3>
        <div>
            <span>{{counter}}</span>
            <button v-on:click="handleAdd">add</button>
            <button v-on:click="handleMinus">minus</button>
        </div>
        <h3>v-bind</h3>
        <span v-bind:title="title">标题</span>
        <h3>v-model</h3>
        <div>
            <input type="text" v-model="inputVal"/>
            <span>{{inputVal}}</span>
        </div>
        <div>
            <input type="checkbox" v-model="isChecked"></div>
            <span>{{isChecked}}</span>
        </div>
        <div>
            <select v-model="selectValue">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span>{{selectValue}}</span>
        </div>
    </div>

    <script type="module">
        import Vue from "./src/index.js";
        const ins = new Vue({
            el: '#app',
            data() {
                return {
                    t: 't value',
                    t1: {
                        tt1: 'tt1 value'
                    },
                    arr: [1, 2, 3],
                    counter: 0,
                    title: '标题',
                    inputVal: 'test',
                    isChecked: true,
                    selectValue: 2
                }
            },
            methods: {
                handleAdd() {

                },
                handleMinus() {

                }
            }
        })

        setTimeout(() => {
            console.log('原始值：', ins.t);
            ins.t = "change t";
            console.log(ins.t)
        }, 1000)

        setTimeout(() => {
            console.log('对象')
            ins.t = {
                tt: 'tt value'
            }
            console.log(ins.t.tt)
        }, 2000)

        setTimeout(() => {
            console.log('较深属性getter setter');
            ins.t1.tt1 = "change tt1";
            console.log(ins.t1.tt1)
        }, 3000)

        setTimeout(() => {
            console.log('对象属性更新为原始值')
            console.log(ins.t1);
            ins.t1 = "t1 value";
            console.log(ins.t1)
        }, 4000)

        setTimeout(() => {
            console.log('数组')
            console.log(ins.arr);
            ins.arr.push(4);
            console.log(ins.arr)
        }, 5000)
    </script>
</body>
</html>